In [1]:
import pandas as pd
import numpy as np
import json

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [4]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
backers_info_df = pd.read_csv('backer_info.csv')
backers_info_df.head()

                                                                                          backer_info
0        {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1        {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2          {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3  {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4               {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}

In [11]:
# Iterate through the backers DataFrame and convert each row to a dictionary.
dicts = []
for _, row in backers_info_df.iterrows():
    # Iterate through each dictionary (row) and get the values for each row using list comprehension.  
    data = json.loads(row['backer_info'])
    row_values = [v for k, v in data.items()]
    # Append the list of values for each row to a list. 
dicts.append(row_values)    

# Print out the list of values for each row.
print(dicts)

[['fg535', 65, 'Freeman Gibbs', 'fgibbs@outlook.com']]

In [50]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists. 
file_name = './Data/backers.csv'
backers_df.to_csv(file_name, index=False)

NameError: name 'backers_df' is not defined

In [5]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [26]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
backers_info_df.head()

                                                                                          backer_info
0        {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1        {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2          {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3  {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4               {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}

In [33]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".
backers_re_df = backers_info_df.copy()
backers_re_df['backers_id'] = backers_info_df['backer_info'].str.extract(r'(\w+\S\d+)')

In [42]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".
backers_re_df['cf_id'] = backers_info_df['backer_info'].str.extract(r'(\W\d+)').astype(np.int64)

In [45]:
# Extract the name from the backer_info column and add it as a new column called "name".
backers_re_df['name'] = backers_info_df['backer_info'].str.extract(r'([A-Za-z]+\s+[A-Za-z]+)')

In [46]:
# Extract the email from the backer_info column and add it as a new column called "email".
backers_re_df['email'] = backers_info_df['backer_info'].str.extract(r'(?:\")(\S+@\S+)(?:\"\})')
backers_re_df.head()

,backer_info,backers_id,cf_id,name,email
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968,Angelo Vincent,avincent@live.com
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563,Hubert Arnold,harnold@yandex.com
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65,Loris Goulet,lgoulet@yandex.com
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563,Teodora Brunelli,tbrunelli@outlook.com
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563,Lexie Hunt,lhunt@live.com

In [47]:
# Create a new DataFrame with the appropriate columns.
try:
    backers_re_df = backers_re_df.drop(['backer_info'], axis=1)
except KeyError:
    pass

In [48]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backers_re_df.to_csv(file_name, encoding='utf-8', index=False)

FileNotFoundError: [Errno 2] No such file or directory: './Data/backers.csv'

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [51]:
# Check data types.
backers_re_df.dtypes

backers_id    object
cf_id          int64
name          object
email         object
dtype: object

In [52]:
# Convert cf_id to an integer if necessary.
backers_re_df[['first_name', 'last_name']] = backers_re_df['name'].str.split(n=1, expand=True)

In [53]:
# Split the "name" column into "first_name" and "last_name" columns.
backers_re_df[['first_name', 'last_name']] = backers_re_df['name'].str.split(n=1, expand=True)

In [54]:
#  Drop the name column
try:
    backers_df_clean = backers_re_df.drop(['name'], axis=1)
    # Reorder the columns
    backers_df_clean = backers_df_clean[['backer_id', 'cf_id', 'first_name', 'last_name', 'email']]
except KeyError:
    pass
backers_df_clean.head(10)

# Reorder the columns

  backers_id  cf_id                  email first_name last_name
0      av166    968      avincent@live.com     Angelo   Vincent
1      ha127    563     harnold@yandex.com     Hubert    Arnold
2      lg794     65     lgoulet@yandex.com      Loris    Goulet
3      tb566    563  tbrunelli@outlook.com    Teodora  Brunelli
4      lh506    563         lhunt@live.com      Lexie      Hunt
5      lh382    563        lhuber@live.com    Lambert     Huber
6      em444    563        emorin@live.com       Emmy     Morin
7      at582   1572        atrani@live.com    Armonda     Trani
8      id772   1911      iduke@outlook.com      Ilana      Duke
9      lw275     65       lwright@live.com     Leigha    Wright

In [67]:
# Export the DataFrame as a CSV file using encoding='utf8'.
file_name = 'jwill/desktop/AnalysisProjects/Crowdfunding-ETL/backers_info.csv'
backers_df.to_csv(file_name, index=False)

NameError: name 'backers_df' is not defined